<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing wine experience</h1>

  <%= render "form", wine_experience: @wine_experience %>

  <%= link_to "Show this wine experience", @wine_experience, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to wine experiences", wine_experiences_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
