<span>Home</span>
<%= link_to "Wineries", wineries_path, class: "text-blue-500" %>
<%= link_to "Wines", wines_path, class: "text-blue-500" %>
<%= link_to "Wine Vintages", wine_vintages_path, class: "text-blue-500" %>
<%= link_to "Experiences", wine_experiences_path, class: "text-blue-500" %>