<div id="<%= dom_id wine_vintage %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Alcohol:</strong>
    <%= wine_vintage.alcohol %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Vintage:</strong>
    <%= wine_vintage.vintage %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Wine:</strong>
    <%= wine_vintage.wine.name %>
  </p>
</div>
