<div id="<%= dom_id winery %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= winery.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= winery.location %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= winery.country.name %>
  </p>
</div>
